---
title: Registration and Schedule
---

  <h2>
    Sponsors
  </h2>
  
  <p>
    <em>The Randolph Ramble wouldn’t have happened without our sponsors. Please support them! They include:</em>
  </p>

  <div class="sponsor-grid mtl">
    <div class="row">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="http://www.libbysbistro.org" class="sponsor-label" target="_blank">
          Libby’s Bistro and SAalt Pub
        </a>
      </div>
      <div class="col-sm-4 col-md-3 col-lg-2">
        <a href="http://www.libbysbistro.org" target="_blank">
          <%= image_tag 'saaltpublogo-300x61.png', :class => 'img-responsive' %>
        </a>
      </div>
    </div>
    <div class="row mtl">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="http://www.whitemountaincafe.com" class="sponsor-label" target="_blank">
          White Mountain Café &amp; Bookstore
        </a>
      </div>
      <div class="col-sm-4 col-md-3 col-lg-2">
        <a href="http://www.whitemountaincafe.com">
          <%= image_tag 'whitemtncafelogoPMScolors032410-300x251.jpg', :class => 'img-responsive' %>
        </a>
      </div>
    </div>
    <div class="row mtl">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="http://www.runthealps.com" class="sponsor-label" target="_blank">
          Run the Alps
        </a>
      </div>
      <div class="col-sm-4 col-md-3 col-lg-2">
        <a href="http://www.runthealps.com" target="_blank">
          <%= image_tag 'rta_full_color-copy.png', :class => 'img-responsive' %>
        </a>
      </div>
    </div>
    <div class="row mtl">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="https://www.facebook.com/BorealchickDesigns" class="sponsor-label" target="_blank">
          Borealchick Designs
        </a>
      </div>
      <div class="col-sm-4 col-md-3 col-lg-2">
        <a href="https://www.facebook.com/BorealchickDesigns" target="_blank">
          <%= image_tag 'borealchick.jpg', :class => 'img-responsive' %>
        </a>
      </div>
    </div>
    <div class="row mtl">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="http://www.theendurancedrive.com" class="sponsor-label" target="_blank">
          The Endurance Drive
        </a>
      </div>
      <div class="col-sm-4 col-md-3 col-lg-2">
        <a href="http://www.theendurancedrive.com" target="_blank">
          <%= image_tag 'the-endurance-drive.jpg', :class => 'img-responsive' %>
        </a>
      </div>
    </div>
    <div class="row mtl">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="https://www.facebook.com/Coos-Timberframe-116386395686535/" class="sponsor-label" target="_blank">
          Coös Timberframe
        </a>
      </div>
      <div class="col-sm-4 col-md-3 col-lg-2">
        <a href="https://www.facebook.com/Coos-Timberframe-116386395686535/" target="_blank">
          <%= image_tag 'coos-timberframe.jpg', :class => 'img-responsive' %>
        </a>
      </div>
    </div>
    <div class="row mtl">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <a href="http://www.mountadamschallenge.org" class="sponsor-label" target="_blank">
          Mount Adams Challenge
        </a>
      </div>
      <div class="col-sm-4 col-md-3 col-lg-2">
        <a href="http://www.mountadamschallenge.org" target="_blank">
          <%= image_tag 'mac-logo-300x290.jpg', :class => 'img-responsive' %>
        </a>
      </div>
    </div>
  </div>

  <p class="mtl">
    We thank the <a href="http://randolphmountainclub.org" target="_blank">Randolph Mountain Club</a> the <a href="http://randolphforest.org" target="_blank">Randolph Community Forest</a>, for the use of their trails and the land, Mark and Katie Kelley for the use of their barn, <a href="https://www.facebook.com/pages/Androscoggin-Valley-Search-and-Rescue/163437667019413" target="_blank">AVSAR</a> for mountain medical support, and all our volunteers!
  </p>

  <p>
    We could not have done this without you!
  </p>

