
      <header class="site-header" role="banner">

        <div class="table-row">
          <div class="table-cell table-cell-6 d-none d-lg-block">
            <a href="/">
              <%= image_tag "Randolph-Ramble-Logo.png", :class => "img-fluid", :alt => "Randolph Ramble Logo" %>
            </a>
          </div>
          <div class="table-cell table-cell-6 social-nav">
            <a href="https://www.facebook.com/randolphramblerace" class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </a>
            <a href="mailto:sherpamayer@icloud.com" class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
            </a>
          </div>
        </div>

        <ul class="list-unstyled d-none d-lg-block pt-4">
          <li class="md-menu-item<%= ' active' if current_page.url == '/' %>">
            <a href="/">
              Home
            </a>
          </li>
          <li class="md-menu-item<%= ' active' if current_page.url == '/the-course/' %>">
            <a href="/the-course">
              The Course
            </a>
          </li>
          <li class="md-menu-item<%= ' active' if current_page.url == '/important-info/' %>">
            <a href="/important-info/">
              Important Info
            </a>
          </li>
          <li class="md-menu-item<%= ' active' if current_page.url == '/registration-schedule/' %>">
            <a href="/registration-schedule/">
              Registration &#038; Schedule
            </a>
          </li>
          <li class="md-menu-item<%= ' active' if current_page.url == '/sponsors/' %>">
            <a href="/sponsors/">
              Sponsors
            </a>
          </li>
        </ul>

      </header>
