
      <nav class="topnav visible-xs visible-sm" role="navigation">
        <div class="table-row topnav-header">
          <div class="table-cell table-cell-8 table-cell-middle">
            <a class="topnav-brand" href="/">
              Randolph Ramble                
            </a>
          </div>
          <div class="table-cell table-cell-4 table-cell-middle text-right">
            <a href="#" class="topnav-toggle" data-toggle="collapse" data-target="#collapseListGroup1">
              <span class="sr-only">Toggle navigation</span>
              <i class="fa fa-navicon"></i>
            </a>
          </div>
        </div>
        <div id="collapseListGroup1" class="collapse" role="tabpanel" aria-labelledby="collapseListGroupHeading1" aria-expanded="true"> 
          <ul class="list-unstyled mbn"> 
            <li class="list-group-item-topnav<%= ' active' if current_page.url == '/' %>">
              <a href="/">
                Home
              </a>
            </li>
            <li class="list-group-item-topnav<%= ' active' if current_page.url == '/the-course/' %>">
              <a href="/the-course">
                The Course
              </a>
            </li>
            <li class="list-group-item-topnav<%= ' active' if current_page.url == '/important-info/' %>">
              <a href="/important-info/">
                Important Info
              </a>
            </li>
            <li class="list-group-item-topnav<%= ' active' if current_page.url == '/registration-schedule/' %>">
              <a href="/registration-schedule/">
                Registration &#038; Schedule
              </a>
            </li>
            <li class="list-group-item-topnav<%= ' active' if current_page.url == '/film-festival/' %>">
              <a href="/film-festival/">
                Film Festival
              </a>
            </li>
            <li class="list-group-item-topnav<%= ' active' if current_page.url == '/sponsors/' %>">
              <a href="/sponsors/">
                Sponsors
              </a>
            </li>
            <li class="list-group-item-topnav<%= ' active' if current_page.url == '/lodging/' %>">
              <a href="/lodging/">
                Lodging
              </a>
            </li>
            <li class="list-group-item-topnav<%= ' active' if current_page.url == '/for-more-info/' || page_classes.match("uncategorized") %>">
              <a href="/for-more-info/">
                Latest News
              </a>
            </li>
          </ul> 
        </div>

      </nav>

